asgiref==3.10.0
Brotli==1.1.0
cffi==2.0.0
cssselect2==0.8.0
Django==5.2.7
django-environ==0.12.0
django-filter==25.2
fonttools==4.60.1
html5lib==1.1
pillow==11.3.0
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tzdata==2025.2
weasyprint==62.3
webencodings==0.5.1
zopfli==0.2.3.post1
